.menu{
  background-color: #f2f2f2;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 55px;
  flex-wrap: wrap;
  width: 100%;

  img{
    height: 50px;
    cursor: pointer;
  }

  .opcoes{
    justify-content: start;
    display: flex;
    gap: 20px;

    .itemOpcao{
      font-size: 25px;
      font-family: 'Roboto', sans-serif;
      font-weight: bold;
      color: inherit;
      text-decoration: none;

      a:hover{
        color: #0f1846;
        cursor: pointer;
        transition-duration: 200ms;
      }
    }
  }
}
