<mat-toolbar class="header mat-elevation-z4">

  <span>
    <a routerLink="/">
      <img class="logo" src="assets/libravo-menu-t.svg" alt="libravo">
    </a>
  </span>

  <div class="opcoes">
    <a class="itemOpcao" href="#sobre">SOBRE</a>
    <a class="itemOpcao" routerLink="/campeonatos">CAMPEONATOS</a>
    <a class="itemOpcao" routerLink="/login">INSCREVER</a>
    <a class="itemOpcao" href="https://www.instagram.com/libravobsb/" target="_blank">
      <img class="icons" src="assets/instagram-40.svg" alt="instagram">
    </a>
    <a class="itemOpcao" href="https://www.facebook.com/li.bravo.90" target="_blank">
      <img class="icons" src="assets/facebook-13.svg" alt="facebook">
    </a>
  </div>

</mat-toolbar>