<div class="menu">
  <div class="logo">
    <img src="../../../assets/libravo-menu.svg" alt="" routerLink="">
  </div>
  <div class="opcoes">
      <a class="itemOpcao" href="#sobre">SOBRE</a>
      <a class="itemOpcao" routerLink="/campeonatos">CAMPEONATOS</a>
      <a class="itemOpcao" routerLink="/login">INSCREVER</a>
      <a class="itemOpcao" href="https://www.instagram.com/libravobsb/" target="_blank">Inst</a>
      <a class="itemOpcao" href="https://www.facebook.com/li.bravo.90" target="_blank">Face</a>
  </div>
</div>
