table {
  margin: 0 auto;
  width: 80%;
}

mat-paginator{
  margin: 0 auto;
  width: 80%;
}

.mat-form-field {
  font-size: 14px;
  width: 30%;
  display: block;
  margin: 0 auto;
  text-align: center;
}

td, th {
  justify-content: space-between;
}
