<ng-container *ngIf="usuarios != null">
  <mat-form-field appearance="standard">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
  </mat-form-field>

  <div>
    <table mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
        <td mat-cell *matCellDef="let user"> {{user.id}} </td>
      </ng-container>

      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nome </th>
        <td mat-cell *matCellDef="let user"> {{user.firstName + ' ' + user.lastName}} </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
        <td mat-cell *matCellDef="let user"> {{user.email}} </td>
      </ng-container>

      <ng-container matColumnDef="permissao">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Permissao </th>
        <td mat-cell *matCellDef="let user">
          <ng-container *ngIf="user.permissao != null" >{{user.permissao.nome}}</ng-container>
          <ng-container *ngIf="user.permissao == null" >Não possui</ng-container>
        </td>
      </ng-container>

      <ng-container matColumnDef="criado em">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Criado em </th>
        <td mat-cell *matCellDef="let row"> dataCriação </td>
      </ng-container>

      <ng-container matColumnDef="atualizado em">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Atualizado em </th>
        <td mat-cell *matCellDef="let row"> dataAtualização </td>
      </ng-container>

      <ng-container matColumnDef="ações">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Ações </th>
        <td mat-cell *matCellDef="let user">
          <a routerLink="/administracao/usuario/edit/{{user.id}}"> <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home">edit</mat-icon> </a >
          <a (click)="openDialog(user.id, user.firstName)"> <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home">delete</mat-icon> </a></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
  </div>
</ng-container>
<ng-container *ngIf="usuarios == null" >
  <div class="carregando">
    <img src="https://c.tenor.com/mRQ6ayWwAasAAAAC/volleyball-on-fire.gif" alt="">
  </div>
</ng-container>

