form{
  background-color: bisque;
  border-radius: 40px;
}

.row{
  display: flex;
  gap: 20px;
}

img{
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin-top: 4vh;
}

.example-full-width{
  justify-content: center;
}
